{{#if (eq @type 'link')}}
  <LinkTo class="{{this.classes}}" @route={{@route}} @model={{@model}} ...attributes>
    {{yield}}
  </LinkTo>
{{else}}
  <button class="{{this.classes}}" type="button" ...attributes>
    {{#if @icon}}
      <Icon @name="{{@icon}}"/>
    {{/if}}
    {{yield}}
  </button>
{{/if}}