<Portal>
  <Modal @onClose={{this.closeModal}}>
    <:header>
      <h2 class="text-lg font-medium">Creating new match</h2>
      <span></span>
    </:header>
    <:default>
      <div class="flex flex-col gap-2">
        <label class="font-medium">Sprint</label>
        <SprintSelect
          @onChange={{this.handleSprintSelection}}
          @class="{{if this.errors.sprint_id "border-red-600"}}"
          @value={{this.matchModal.model.sprint_id}}
        />
        <p class="text-sm text-red-600 font-medium">{{this.errors.sprint_id}}</p>
        <a
          class="text-gray-700 text-right text-sm underline cursor-pointer"
          {{on "click" this.handleCreateNewSprint}}
        >
          Create new sprint
        </a>
      </div>

      <div class="flex flex-col gap-2">
        <label class="font-medium">Score</label>
        <div class="flex justify-between items-center">
          <ScoreInput @value={{this.matchModal.model.p1_score}} @onChange={{this.handleP1Score}}/>
          <!-- TODO get from sprint -->
          <h2>{{this.currentSprint.current.p1_name}} x {{this.currentSprint.current.p2_name}}</h2>
          <ScoreInput @value={{this.matchModal.model.p2_score}} @onChange={{this.handleP2Score}}/>
        </div>
        <p class="text-sm text-red-600 font-medium">{{this.errors.global}}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="font-medium">Map selection</label>
        <MapSelect
          @onChange={{this.handleMapSelection}}
          @class="{{if this.errors.map "border-red-600"}}"
          @value={{this.matchModal.model.map}}
        />
        <p class="text-sm text-red-600 font-medium">{{this.errors.map}}</p>
      </div>
    </:default>
    <:footer>
      <ButtonGroup>
        <Button
          @color="default"
          @size="sm"
          {{on "click" this.handleSaveAndContinue}}
        >
          Save and continue
        </Button>
        <Button
          @color="primary"
          @size="sm"
          {{on "click" this.handleSave}}
        >
          Save
        </Button>
      </ButtonGroup>
    </:footer>
  </Modal>
</Portal>