<Portal>
  <div
    class="z-10 fixed inset-0 bg-black opacity-25"
    {{on "click" this.handleClick}}
  ></div>
  <div class="pl-[16rem] fixed inset-0 flex items-center justify-center pointer-events-none z-10">
    <div class="w-[32rem] border rounded shadow-md pointer-events-auto">
      <header class="flex justify-between p-4 bg-gray-50 rounded-t">
        <div>
          {{yield to="header"}}
        </div>
        <div
          class="p-1 text-gray-700 hover:bg-gray-100 cursor-pointer rounded cursor"
          {{on "click" @onClose}}
        >
          <Icon @name="x"/>
        </div>
      </header>
      <section class="flex flex-col gap-4 p-4 bg-white">
        {{yield}}
      </section>
      <footer class="flex justify-end p-4 bg-gray-50 border-t rounded-b">
        {{yield to="footer"}}
      </footer>
    </div>
  </div>
</Portal>