<Portal>
  <Modal @onClose={{this.closeModal}}>
    <:header>
      <h2 class="text-lg font-medium">New sprint</h2>
      <span></span>
    </:header>
    <:default>
      <div class="flex flex-col gap-2">
        <label for="name" class="font-medium">Sprint name</label>
        <Input
          id="name"
          class="px-4 py-2 bg-white border rounded"
          @value={{this.sprintModal.model.name}}
          {{on "input" this.handleNameChange}}
        />
        <p class="text-sm text-red-600 font-medium">{{this.errors.name}}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="p1_name" class="font-medium">Player 1 name</label>
        <Input
          id="p1_name"
          class="px-4 py-2 bg-white border rounded"
          @value={{this.sprintModal.model.p1_name}}
          {{on "input" this.handleP1NameChange}}
        />
        <p class="text-sm text-red-600 font-medium">{{this.errors.p1_name}}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="p2_name" class="font-medium">Player 2 name</label>
        <Input
          id="p2_name"
          class="px-4 py-2 bg-white border rounded"
          @value={{this.sprintModal.model.p2_name}}
          {{on "input" this.handleP2NameChange}}
        />
        <p class="text-sm text-red-600 font-medium">{{this.errors.p2_name}}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="goal" class="font-medium">Sprint goal</label>
        <Input
          id="goal"
          class="px-4 py-2 bg-white border rounded"
          @value={{this.sprintModal.model.goal}}
          {{on "input" this.handleGoalChange}}
        />
        <p class="text-sm text-red-600 font-medium">{{this.errors.goal}}</p>
      </div>
    </:default>
    <:footer>
      <ButtonGroup>
        <Button
          @size="sm"
          {{on "click" this.closeModal}}
        >
          Cancel
        </Button> <Button
        @color="primary"
        @size="sm"
        {{on "click" this.handleSave}}
      >
        Save
      </Button>
      </ButtonGroup>
    </:footer>
  </Modal>
</Portal>