{{page-title this.date}}

<h1>Matches for date {{this.date}}</h1>

<ComparativeBar
  @title="Win-rate on {{this.date}}"
  @left="denerd"
  @leftScore={{this.denerdWins.length}}
  @right="chase"
  @rightScore={{this.chaseWins.length}}
  class="mb-8" />

<MatchTable @showIndex={{true}} @matches={{this.model}} />