{{page-title "Speedrunners Tracker"}}

{{#if this.matchModal.visible}}
  <MatchForm/>
{{/if}}

{{#if this.sprintModal.visible}}
  <SprintForm/>
{{/if}}

<nav class="flex flex-col gap-8 fixed inset-y-0 left-0 w-[16rem] bg-gray-900 text-white shadow-lg">
  <LinkTo @route="index" class="block p-8 pb-0">
    <img src="/images/speedrunners.png" alt="Speedrunners">
  </LinkTo>

  <Scoreboard
    @sprint={{this.currentSprint.current}}
  />
  <div class="mx-6">
    <Button
      class="w-full"
      @color="primary"
      @size="sm"
      @icon="plus"
      {{on "click" this.handleModalOpen}}
    >
      New match
    </Button>
  </div>

  <div class="flex flex-col">
    <LinkTo
      @route="sprints.index"
      class="{{join
        'px-6 py-6 text-lg font-medium hover:bg-gray-700 uppercase'
        (if (eq this.router.currentRouteName 'sprints.index') 'bg-gray-800')
      }}"
    >
      Sprints
    </LinkTo>
    <LinkTo
      @route="matches.index"
      class="{{join
        'px-6 py-6 text-lg font-medium hover:bg-gray-700 uppercase'
        (if (eq this.router.currentRouteName 'matches.index') 'bg-gray-800')
      }}"
    >
      Matches
    </LinkTo>
    <LinkTo
      @route="matches.map.index"
      class="{{join
        'px-6 py-6 text-lg font-medium hover:bg-gray-700 uppercase'
        (if (eq this.router.currentRouteName 'matches.map.index') 'bg-gray-800')
      }}"
    >
      By map
    </LinkTo>
  </div>
</nav>

<Container>
  <:top>
    <Notifications/>
  </:top>
  <:default>
    {{outlet}}
  </:default>
</Container>